/* Color Theme Swatches in RGBA */
.N-I-S-H-I-K-I-G-O---Furniture-Design-Award-2014-1-rgba { color: rgba(18, 114, 105, 1); }
.N-I-S-H-I-K-I-G-O---Furniture-Design-Award-2014-2-rgba { color: rgba(15, 63, 58, 1); }
.N-I-S-H-I-K-I-G-O---Furniture-Design-Award-2014-3-rgba { color: rgba(137, 165, 162, 1); }
.N-I-S-H-I-K-I-G-O---Furniture-Design-Award-2014-4-rgba { color: rgba(75, 89, 87, 1); }
.N-I-S-H-I-K-I-G-O---Furniture-Design-Award-2014-5-rgba { color: rgba(191, 191, 191, 1); }

/* Color Theme Swatches in HSLA */
.N-I-S-H-I-K-I-G-O---Furniture-Design-Award-2014-1-hsla { color: hsla(174, 72, 26, 1); }
.N-I-S-H-I-K-I-G-O---Furniture-Design-Award-2014-2-hsla { color: hsla(174, 60, 15, 1); }
.N-I-S-H-I-K-I-G-O---Furniture-Design-Award-2014-3-hsla { color: hsla(174, 13, 59, 1); }
.N-I-S-H-I-K-I-G-O---Furniture-Design-Award-2014-4-hsla { color: hsla(174, 8, 32, 1); }
.N-I-S-H-I-K-I-G-O---Furniture-Design-Award-2014-5-hsla { color: hsla(0, 0, 75, 1); }

html{
    width: auto;
    margin: auto;
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Roboto", sans-serif;
}
.logo {
    height: 520px;
    width: 450px;
}
.container3-wrapper{
    display: flex;
}

a {
    font-family: sans-serif;
    text-decoration: none;
}
.header {
    background-color: #127369; ;
    position: fixed;
    width: 100%;
}
.nav {
    max-width: 90%;
    height: 70px;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}
.nav-list {
    display: flex;
    gap: 50px;
    list-style: none;
    
}
.nav-list a{
    font-size: 20px;
    color: white;
    
}

body{
    margin: auto;
    width: auto;
}
    
    
.container1{
    padding: 10%;
    margin: auto;
    background-color:rgba(15, 63, 58, 1);
    
}
.container2{
    padding: 20px;
    margin: auto;
    background-color:#127369;;
}
.container3{
    padding: 8%;
    margin: auto;
    background-color: #ece5d7;
}
.container4{
    padding: 10%;
    margin: auto;
    background-color:#ece5d7;
    }

main .princ{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 26px;
    margin-left: 2px;
    color: #127369;
}
.titulo{
    width: 80%;

}
.solucoes{
    width: 250px;
    font-size: 30px;
    background-color:#127369;
    margin-left: 6px;
    border-radius: 10px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.solucoes a{
    text-align: center;
    color: white;
    font-weight: 600;
    
 }


.ebook-link{
    width: 250px;
    font-size: 30px;
    background-color:#ece5d7;
    margin-left: 6px;
    border-radius: 10px;
    margin-top: 30px;
    align-items: center;
 }
 .ebook-link a{
    text-align: center;
    color: #0f3f3a;
    margin-left: 50px;
 }
 .ebook-link:hover{background-color: rgb(230, 224, 218);
}
.ebook-link a:hover{color:#127369}

.valores{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 35px;
    color: white;
}

.ebook {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 30px;
    margin-left: 2px;
    color: white;
}

.visao{
    display: flex;
    justify-content:center;
    align-items: center;
}
.e1{
    background-color:rgba(15, 63, 58, 1) ;
    font-size: 20px;
    padding: 20px;
    color: white;
    margin-left: 10px;
    margin: 10px 10px;
    border-radius: 5px;
    width: 30%;
    
}
.e1 h3{
    text-align: center;
}
.e1 li{
    margin-left:  90px;
}

.sobre{
    font-size: 25px;
    color: #127369;
}

.sobre >p{
    color: black;
}

.c1{
    background-color:rgba(15, 63, 58, 1) ;
    font-size: 20px;
    padding: 35px;
    color: white;
    margin: 10px 10px;
    border-radius: 5px;
    width: auto;
}
.c1 h2{
    text-align: center;
}
.residuos-container{
    display: flex;
    align-items: flex-start; 
    width: 100%; 
}

.residuos-img{
    width: 100%;
}

.consultoria-container{
    display: flex;
    align-items: flex-start;
}

.analises-container{
    display: flex;
    align-items: flex-start; 
    width: 100%;
}

.analises-text {
    width: 60%;
}


.analises-img img {
    width: 400px;
    height: auto;
}

.analisefalhas-img img {
    width: 300px;
    height: auto; 
}

.analisefalhas-container{ display: flex;
    align-items: flex-start; 
    width: 100%;}

.container{
        display: flex;
        align-items: flex-start; 
        width: 100%;
    }
.ensaios-txt{ width: 60%;}
.ensaios-img{   
     width: auto; }



footer h1{
    margin-top: 40px;
    text-align: center;
    font-size: 35px;
}

footer h2{
    text-align: center;
    font-size: 35px;
    margin-left: 10px;
}

footer p{
    font-size: 25px;
}
.contato {
    background-color:#0f3f3a;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
    color: white;
}
.empresasflex{display: flex;
    justify-content: space-evenly;
    padding: 2%;
    background-color: white;
    
}
.empresasflex2{
    position: static; 
    display: flex;
    padding: 1%;
    justify-content: space-evenly;
    background-color: #127369; ;
    bottom: 0;
    width: 100%; 
    overflow: hidden;
    
 }

.tam{width: 120px; }
.tam2{
    width: 50px; 
}

.atuacao{
    align-items: center;
    font-size: 24px;
    margin-left: 2px;
    color: white;
}

@media (max-width: 767px) {
    html {
        font-size: 14px;
        width: 100%;
        margin: auto;
        padding:0px ;
    }
     .h1{
    font-size: 10px;
    
}
}

